.my-col__1 {
  border: 1px solid blue;
}
.my-col__2 {
  border: 1px solid chartreuse;
}

.my-col__3 {
  border: 1px solid red;
}

.my-main-container {
  /* background-color: #ff0500; */
  background-color: #f51f01;
  color: white;
}

.my-form {
  width: 50%;
  margin: auto;
}

.logo {
  background-color: red;
}

.opn > .btn-light {
  background-color:  red;
  color:white;
  font-weight: 500;
}