.my-header_top {
  background-color: #f72210;
}

.logo {
  width: 100%;
  min-width: 132px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.badge-note {
  left: 0;
  bottom: 0;
}
