.my-header_top {
  background-color: #f72210;
}

.custom-font_color {
  color: #f72210;
}

.logo {
  width: 100%;
  min-width: 128px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.badge-note {
  left: 0;
  bottom: 0;
}

.foot-logo {
  display: block;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 12px;
    fill: #f72210;
}

.foot-detail {
  margin-bottom: -8px;
}

.newsletter img,
.subscribe img {
  height: 100%;
}


.logo-details {
  font-size: 12px;
}


.custome-position {
  left: 45%;
  top: 40%;
  z-index: 10;
}

.custom-margin {
  margin-bottom: 1px;
}

.sub-custome {
  left: 20%;
}

 @media screen and (min-width: 768px) {
  .bod {
    border-right: 1px solid lightgray;
  }
} 

@media screen and (max-width: 768px) {
  .news button {
  font-size: 14px;
  margin-top: -8px;
  }
}

